*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    background-color: #ff6900;
    height: 3.5rem;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    color: white;
}

header div.logo img {
    width: 35%;
    margin:auto;
}

ul{
    list-style: none;
    display: flex
}

li{
    padding-right: .5rem;
    color:white;
}

li:first-child {
    padding-left: 0px;
}

.nav-bar i {
    margin: 0.5rem;
}

main{
    /* display: block; */
    max-width: 1200px;
    padding: 2rem;
    margin: auto;
}
section.products{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

section.products > article{
    position: relative;
    width: 100% calc((100% / 3) - .5rem);
}
article.product  > img{
    height: 370px;
    width:100%;
    object-fit: cover;
}

article.product  > span.discount50-tag{
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: red;
    font-size: .6rem;
    padding: 0.3rem;
    color: white;
}
article.product  > span.sostenibilià-tag{
    position: absolute;
    bottom: 20px;
    left: 34px;
    background-color: green;
    font-size: .6rem;
    padding: 0.3rem;
    color: white;
}
article.product  > span.sostenibilià-only-tag{
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color: green;
    font-size: .6rem;
    padding: 0.3rem;
    color: white;
}
footer{
    background-color: #1a1a1a;
    height:4rem;
    display: flex;
    justify-content: space-around;
    padding: .5rem;
}

h3{
    color: white;
    margin-bottom: .5rem;
}